/* CSS FOR JAKEKIT.CSS */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    
	display: block;
}

body {
    
	line-height: 1;
    
}

ol, ul {
    
	list-style: none;
    
}

blockquote, q {
    
	quotes: none;
    
}

blockquote:before, blockquote:after,
q:before, q:after {
    
	content: '';
	content: none;
    
}

table {
    
	border-collapse: collapse;
	border-spacing: 0;
    
}	

/* GRID */
.grid-container{
    
	width: 100%;    
    
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    
	content:"";
	display: table ;
	clear:both;
    
}

/* Whitespace Header */

#whitespace_header {
    
    padding-top: 150px;
    
}

[class*='col-'] {
    
	display: inline-block; 
	min-height: 1px; 
    width: 16.66%; 
	/*-- our gutter -- */
	padding: 12px; 
    
}

	.col-1{ width: 16.66%; }
	.col-2{ width: 33.33%; }
	.col-3{ width: 50%;    }
	.col-4{ width: 66.66%; }
	.col-5{ width: 83.33%; }
	.col-6{ width: 100%;   }

.outline, .outline *{
    
	outline: 1px solid #FFFFF; 
    
}

/*-- some extra column content styling --*/
[class*='col-'] > p {
    
	padding: 0;
	margin: 0;
    text-align: center; 
    color: black; 
    
}

/* RESPONSIVE GRID */

@media all and (max-width:800px) {
    
	.col-1{ width: 33.33%; }
    .col-2{ width: 50%;    }
    .col-3{ width: 83.33%; }
	.col-4{ width: 100%;   }
	.col-5{ width: 100%;   }
	.col-6{ width: 100%;   }
	
    .row .col-2:last-of-type {
        
		width: 100%; 
        
}

    .row .col-5 ~ .col-1 {
        
		width: 100%; 
        
		}
}

@media all and (max-width:650px) {
    
	.col-1{ width: 50%;    }
    .col-2{ width: 100%;   }
    .col-3{ width: 100%;   }
    .col-4{ width: 100%;   }
    .col-5{ width: 100%;   }
    .col-6{ width: 100%;   }
    
}
	
/* ------------------------------------------------------------------------------ */
/*				                                                                  */
/*               Framework Components & Main CSS For Jakekit.css				  */
/*																				  */
/* ------------------------------------------------------------------------------ */	

body {
    
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
    
}

.button {
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

.button {
    
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.jkit-btn-default {
    
    background-color: #cccccc; 
    border: 1px solid #555555; 
    font-size: 16px; 
    color: black;

}
.jkit-btn-default:hover {
    
    background-color: #d9d9d9;
    color: black;
}

.jkit-btn-inverse {
    
    background-color: #000000; 
    border: 1px solid #555555; 
    font-size: 16px; 
    color: white;

}
.jkit-btn-inverse:hover {
    
    background-color: #404040;
    color: white;
    
}

.jkit-btn-basic {
    
    background-color: #ffffff; 
    border: 1px solid #555555; 
    font-size: 16px; 
    color: black;

}
.jkit-btn-basic:hover {
    
    background-color: #d9d9d9;
    color: black;
    
}

.jkit-btn-ui {
    
    background-color: #808080; 
    border: 1px solid #000000; 
    font-size: 16px; 
    color: white;

}
.jkit-btn-ui:hover {
    
    background-color: #eeeeee;
    color: black;
    
}

/* Inverse Navbar */
.jkit-nav-inverse
ul {
    
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
    
}

li {
    
    float: left;
    
}

li a {
    
	display: block;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* Hover - Inverse */

.jkit-nav-inverse
li a:hover {
    
    background-color: #111;
	color: white;
    
}

/* Navbar Default */

.jkit-nav-default
ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}


li {
    
    float: left;
    
}

li a {
    
    display: block;
    color: #888;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* Hover - Default */

.jkit-nav-default 

li a:hover {
    
    background-color: #e6e6e6;
	color: #666;
    
}

/* Footer Whitespace */

#whitespace_footer {
    
    padding-bottom: 150px;
    
}
/*   Fixed Navbar    */

.nav-fixed {
    
	position: fixed;
    top: 0;
    width: 100%;
    
}




