/* CSS FOR JAKEKIT.CSS */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('http://fonts.googleapis.com/css?family=Merriweather+Sans:700,300');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    
	display: block;
}

body {
    
    line-height: 1;
  
}

ol, ul {
    
    list-style: none;
}

blockquote, q {
    
    quotes: none;
    
}
blockquote:before, blockquote:after,
q:before, q:after {
    
    content: '';
    content: none;
    
}
table {
    
    border-collapse: collapse;
    border-spacing: 0;
    
}


/* GRID */

.grid-container {
    
    width: 100%;
    
}

.cdiv1 {
    
    background-color: #4d94ff;
    color: white;
    padding: 20px;
    
}

/*-- our cleafix hack -- */
.row:before, .row:after {
    
    content: "";
    display: table;
    clear: both;
    
}

/* Whitespace Header */
#whitespace_header {
    
    padding-top: 150px;
    
}

[class*='col-'] {
    
    display: inline-block;
    min-height: 1px;
    width: 16.66%;
    /*-- our gutter -- */
    padding: 12px;
    
}

.col-1 {
    
    width: 16.66%;
}

.col-2 {
    
    width: 33.33%;
    
}

.col-3 {
    
    width: 50%;
    
}

.col-4 {
    
    width: 66.66%;
    
}

.col-5 {
    
    width: 83.33%;
    
}

.col-6 {
    
    width: 100%;
    
}

.outline, .outline * {
    
    outline: 1px solid #FFFFF;
    
}

/*-- some extra column content styling --*/
[class*='col-'] > p {
    
    padding: 0;
    margin: 0;
    text-align: center;
    color: black;
    
}

/* RESPONSIVE GRID */
@media all and (max-width: 800px) {
    
    .col-1 {
        
        width: 33.33%;
        
    }
    
    .col-2 {
        
        width: 50%;
        
    }
    .col-3 {
        
        width: 83.33%;
        
    }
    
    .col-4 {
        
        width: 100%;
        
    }
    
    .col-5 {
        
        width: 100%;
        
    }
    
    .col-6 {
        
        width: 100%;
        
    }
    
    .row .col-2:last-of-type {
        
        width: 100%;
        
    }
    .row .col-5 ~ .col-1 {
        
        width: 100%;
        
    }
}
@media all and (max-width: 650px) {
    
    .col-1 {
        
        width: 50%;
        
    }
    
    .col-2 {
        
        width: 100%;
        
    }
    
    .col-3 {
        
        width: 100%;
        
    }
    
    .col-4 {
        
        width: 100%;
        
    }
    
    .col-5 {
        
        width: 100%;
        
    }
    
    .col-6 {
        
        width: 100%;
        
    }
}

/* ------------------------------------------------------------------------------ */
/*				                                                                  */
/*               Framework Components & Main CSS For Jakekit.css				  */
/*																				  */
/* ------------------------------------------------------------------------------ */

body {
    
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    
}

.col-3 {
    
    background-color: #ED1C24;
    color: white;
    padding: 20px;
    
}
.button {
    
    -webkit-transition-duration: 0.4s;
    
    /* Safari */
    
    transition-duration: 0.4s;
    
}

.button {
    
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.jkit-btn-default {
    
    background-color: #CCCCCC;
    font-size: 16px;
    color: black;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    
}

.jkit-btn-default:before {
    
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ED1C24;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    
}

.jkit-btn-default:hover:before, .jkit-btn-default:focus:before, .jkit-btn-default:active:before {
    
  left: 0;
  right: 0;

}

.jkit-btn-inverse {
    
    background-color: #CCCCCC;
    color: black;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    
}

.jkit-btn-inverse:before {
    
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ED1C24;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    
}

.jkit-btn-inverse:hover, .jkit-btn-inverse:focus, .jkit-btn-inverse:active {
    
  color: white;
    
}

.jkit-btn-inverse:hover:before, .jkit-btn-inverse:focus:before, .jkit-btn-inverse:active:before {
    
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
    
}

.jkit-btn-basic {
    
    background-color: #ED1C24;
    color: white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    
}

.jkit-btn-basic:before {
    
    content: '';
    position: absolute;
    border: #ED1C24 solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
     -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
    
}


.jkit-btn-basic:hover:before, .jkit-btn-basic:focus:before, .jkit-btn-basic:active:before {
    
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
    
}

.jkit-btn-ui {
    
    background-color: #ED1C24;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    
}

.jkit-btn-ui:hover, .jkit-btn-ui:focus, .jkit-btn-ui:active {
    
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: white;
    
}

/* Inverse Navbar */
.jkit-nav-inverse ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

li {
    
    float: left;
    
}

li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* Hover - Inverse */

.jkit-nav-inverse li a:hover {
    
    background-color: #111;
    color: white;
    
}

/* Navbar Default */

.jkit-nav-default ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    
}

li {
    
    float: left;
    
}

li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* Hover - Default */

.jkit-nav-default li a:hover {
    
    background-color: #e6e6e6;
    color: #666;
    
}

/* Footer Whitespace */
#whitespace_footer {
    
    padding-bottom: 150px;
    
}
/*   Fixed Navbar    */

.nav-fixed {
    
    position: fixed;
    top: 0;
    width: 100%;
    
}

span.bottomDrop {
    
	display: block;
	box-shadow:inset 2px 0px 0px #FF9;
	position: absolute;
	left: 0px;
	width:100%;
	height: 100%;
	top: 0px;
    bottom: 0px;
    
}

ul {
    
	margin:0;
	padding:0;
	list-style:none;
    
}

ul ul {
    
	opacity:0;
	position:absolute;
	top:160%;
	visibility:hidden;
	transition:all .4s ease;
	-webkit-transition:all .4s ease;
    
}

ul ul ul {
    
	   top:0%;
	   left:160%;
    
}

ul ul li:hover > ul {
    
	   top:0%;
	   left:100%;
	   opacity:1;
	   visibility:visible;
    
}

ul li:hover > ul {
    
	   opacity:1;
	   top:100%;
	   visibility:visible;
    
}

ul ul li {
    
	   float:none;
    
}

ul li {
    
	   background-color: #333;
	   cursor: pointer;
    
}

}
ul a {
    
    text-decoration:none;
    display:block;
    color: white;
    padding:10px 15px;
    width:6em;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px -1px 0px rgba(0,0,0,.2);
    
}

ul li:hover {
    
	background-color: #ED1C24;
    color: white;
    
}

ul li a:hover {
    
	background-color: navy;
    
}